<ion-header>
  <ion-navbar>
    <ion-title>
      Mapas UEA/TJAM
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map id="map"></div> 
</ion-content>
